<div class="row1">
  <div class="company">
    <div class="company-logo">
      <img src="../../../assets/img/pphc_logo.png" alt="PREMIER" width="141" height="51">
    </div>
    <div class="company-info">
      <h2>Premier PHC</h2>
      <p>2340 East Trinity Mills Road</p>
      <p>Suite 250</p>
      <p>Carrollton, TX 75006</p>
      <p>PH: 1-855-792-4584</p>
      <p>FAX: 972-387-3201</p>
    </div>
  </div>
  <div class="financial-summary">
    <div class="card-header">
      <div class="title">Overall Financial Summary</div>
      <i>X</i>
    </div>
    <div class="labels"> <div class="orange-square"></div> YTD <div class="gray-square"></div> Projected</div>

    <div class="ydt-chart">
      <div class="ydt-label">YTD</div>
      <div class="ydt-graphic">chart</div>
    </div>
    <div class="year-chart">
      <div class="year-label">2015</div>
      <div class="year-graphic">chart</div>
    </div>
  </div>
</div>

<div class="row2">
  <div class="risk-stratification">
    <div class="card-header">
      <div class="title">Risk Stratification</div>
      <i>X</i>
    </div>
  </div>
  <div class="physician-groups">
    <div class="card-header">
      <div class="title">Physician Groups</div>
      <i>X</i>
    </div>
    <div class="labels"> <div class="orange-square"></div> YTD <div class="gray-square"></div> Projected
      <div class="year">
        <select>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
        </select>
      </div>
    </div>
    <div class="groups">
      <div class="group-name">
        Texas Heath Physicians Group
      </div>
      <div class="group-chart">
        chart
      </div>
    </div>
  </div>
</div>
