.row1 {
  width: 100%;
  display: inline-block;

  .company {
    width: 450px;
    margin: 10px;
    height: 200px;
    padding: 30px 30px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;

    .company-logo {
      display: inline-block;
      box-sizing: border-box;
      position: absolute;
      top: 70%;
      margin-top: -70px;
    }

    .company-info {
      font-size: 22px;
      position: absolute;
      right:15%;
      display: inline-block;
      box-sizing: border-box;

    }
  }

  .financial-summary {
    width: 60%;
    margin: 10px;
    height: 200px;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;

    .ydt-chart {
      height:70px;
      box-sizing: border-box;
      border-bottom: 1px solid $main-background-color;

      .ydt-label {
        width: 90px;
        padding: 27px 20px;
        display: inline-block;
        box-sizing: border-box;
        border-right: 1px solid $main-background-color;
      }

      .ydt-graphic {
        width:80%;
        display: inline-block;
        box-sizing: border-box;
      }
    }

    .year-chart {
      height:70px;
      box-sizing: border-box;
      .year-label {
        width: 90px;
        padding: 27px 20px;
        display: inline-block;
        box-sizing: border-box;
        border-right: 1px solid $main-background-color;
      }

      .year-graphic {
        width:80%;
        display: inline-block;
        box-sizing: border-box;

      }
    }
  }
}

.company-info {
  h2 {
    color: #000;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

.card-header {
  width: 100%;
  padding: 7px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  background-color: $card-header-color;

  .title {
    width: 50%;
    display: inline-block;
  }

  i {
    right: 20px;
    position: absolute;
  }
}

.labels {
  padding: 7px;
  border-bottom: 1px solid $main-background-color;
  position: relative;
  .orange-square {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: $main-color;
  }

  .gray-square {
    width: 12px;
    height: 12px;
    margin-left: 20px;
    display: inline-block;
    background-color: $card-header-color;
  }
  
  .year {
    display: inline-block;
    position: absolute;
    right: 40px;
    font-size: 22px;
    select {
      outline: none;
      border: none;
    }
  }
}

.row2 {
  display: inline-block;
  width: 100%;

  .risk-stratification {
    width: 60%;
    margin: 10px;
    height:200px;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
  }

  .physician-groups {
    width: 450px;
    margin: 10px;
    // TODO: ADJUST TO THE REAL HEIGHT WHEN THE OBJECTS ARE LOADED
    min-height:200px;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;

    // TODO: THE LAST GROUP CHILD DON'T HAVE BORDER BOTTOM

    .groups {
      box-sizing: border-box;
      border-bottom: 1px solid $main-background-color;

      .group-name {
        width: 200px;
        height:30px;
        font-size: 12px;
        padding: 8px 10px 5px;
        display: inline-block;
        box-sizing: border-box;
        border-right: 1px solid $main-background-color;
      }

      .group-chart {
        width: 240px;
        height: 30px;
        padding: 5px 10px;
        display: inline-block;
        box-sizing: border-box;
      }
    }
  }
}