/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////END RESET STYLES///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
@font-face {
  font-family: "avenir-lt-std";
  src: url("../fonts/avenir-lt-std/AvenirLTStd-Book.woff");
  src: url("../fonts/avenir-lt-std/AvenirLTStd-Light.woff");
  src: url("../fonts/avenir-lt-std/AvenirLTStd-Medium.woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'avenir-lt-std';
}

/*////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////END FONTS/////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
.main-app-container {
  padding-top: 70px;
  box-sizing: border-box;
  background-color: #dbe3e8;
  color: #767b80;
  width: 100%;
  height: 100%;
}

.main-app-container .main-view {
  margin: 30px 10%;
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #d43b00;
  color: white;
}

.header .header-inner {
  position: relative;
  height: 100%;
}

.header .header-inner .logo {
  margin-left: 10%;
  margin-top: 20px;
  display: inline-block;
}

.header .header-inner .account {
  display: inline-block;
  position: absolute;
  right: 15%;
  width: 120px;
}

.header .header-inner .account .profile-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 15px;
}

.header .header-inner .account .user-name {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 30px;
  font-size: 12px;
}

.header .header-inner .nav {
  display: inline-block;
  position: absolute;
  right: 10%;
  top: 30px;
  font-size: 12px;
}

.row1 {
  display: inline-block;
  width: 100%;
}

.row1 .company {
  width: 35%;
  margin: 10px;
  display: inline-block;
  background-color: white;
  padding: 50px 20px;
  box-sizing: border-box;
  height: 200px;
  vertical-align: top;
}

.row1 .company .company-logo {
  display: inline-block;
  box-sizing: border-box;
}

.row1 .company .company-info {
  display: inline-block;
  box-sizing: border-box;
  font-size: 22px;
}

.row1 .financial-summary {
  width: 62%;
  margin: 10px;
  display: inline-block;
  background-color: white;
  vertical-align: top;
  box-sizing: border-box;
  height: 200px;
}

.row1 .financial-summary .card-header {
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
  padding: 7px 0;
  background-color: #e7edf0;
}

.row1 .financial-summary .card-header .title {
  width: 50%;
  display: inline-block;
}

.row1 .financial-summary .card-header i {
  position: absolute;
  right: 20px;
}

.row1 .financial-summary .labels {
  padding: 7px;
  border-bottom: 1px solid #dbe3e8;
}

.row1 .financial-summary .labels .orange-square {
  width: 12px;
  height: 12px;
  background-color: #d43b00;
  display: inline-block;
}

.row1 .financial-summary .labels .gray-square {
  width: 12px;
  height: 12px;
  background-color: #e7edf0;
  display: inline-block;
  margin-left: 20px;
}

.row1 .financial-summary .ydt-chart {
  border-bottom: 1px solid #dbe3e8;
  box-sizing: border-box;
}

.row1 .financial-summary .ydt-chart .ydt-label {
  display: inline-block;
  padding: 20px 20px;
  width: 90px;
  border-right: 1px solid #dbe3e8;
  box-sizing: border-box;
}

.row1 .financial-summary .ydt-chart .ydt-graphic {
  display: inline-block;
  width: 80%;
  box-sizing: border-box;
}

.row1 .financial-summary .year-chart {
  border-bottom: 1px solid #dbe3e8;
  box-sizing: border-box;
}

.row1 .financial-summary .year-chart .year-label {
  display: inline-block;
  padding: 20px 20px;
  width: 90px;
  border-right: 1px solid #dbe3e8;
  box-sizing: border-box;
}

.row1 .financial-summary .year-chart .year-graphic {
  display: inline-block;
  width: 80%;
  box-sizing: border-box;
}

.company-info p {
  font-size: 12px;
  line-height: 18px;
}

.row2 {
  display: inline-block;
  width: 100%;
}

.row2 .risk-stratification {
  width: 62%;
  margin: 10px;
  display: inline-block;
  background-color: white;
  vertical-align: top;
  box-sizing: border-box;
  height: 200px;
}

.row2 .physician-groups {
  width: 35%;
  margin: 10px;
  display: inline-block;
  background-color: white;
  padding: 50px 20px;
  box-sizing: border-box;
  vertical-align: top;
  height: 200px;
}

/*# sourceMappingURL=default.css.map */
